
#carousel {
    position: relative;
    display: flex;
    max-width: 50%;
    height: 34vh;
    padding: 5px; 
    background-color: antiquewhite;
    align-content: center;
    overflow: hidden;
    margin: 0 auto;
    justify-content: center; 
}

.carousel-entry-img {
  object-fit: contain;
  /* height: 100%; */
  border: none !important;
  box-shadow: none !important;
  margin: 5px;
  transition: opacity 1s ease-in-out;
}
.carousel-entry-img.active {opacity: 1;}

.carousel-entry{
    display: flex;
    padding: 5px; 
    margin: 0 auto;
    max-width: 50%;
    text-align: center;
    background-color:  antiquewhite;
    flex: 1;
    font-weight: bold;
    font-size: large;
}

.controls {
    margin-block-end: 20px;
  }
  
.button {
    cursor: pointer;
    user-select: none;
  }

.button-prev, .button-next {
  position: fixed;
  inset-block-start: calc(37px + 25%);
  transform: translateY(-50%);
  border: none;
  inline-size: 5vw;
  block-size: 10vw;
  background-color: transparent;
  background-image: url(./img/arrow2.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.button-prev {
  inset-inline-start: 25%;
  transform: translateY(-50%) rotateY(180deg);
  transform-origin: center;
}

.button-next {
  inset-inline-end: 25%;
}

